*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
} 


html {
  scroll-behavior: smooth;
}
body{
  background-color: #CF9FFF;
}
a{
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}


/* Navigation bar */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background: #FFF8DC;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  padding: 1.4rem;
}
.header .logo {
  font-size: 1.9rem;
  padding-left: .5rem;
  text-decoration: none;
}
.header .navbar a{
  margin: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}
#menu-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
.nav-item:hover{
  color: #000000;
}


/* Footer */
.footer{
  position: sticky;
  bottom: 0;
  text-align:center;
  margin-top: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100%;
  background-color: #FFF8DC;
}
.footer a:hover{
  color:#000000;
  text-decoration: none;
}


.spaace{
  height:4vh;
}
.spaaace{
  height:15vh;
}



/* Index */
.confession-box {
  resize:vertical;
  padding:10px;
  border-radius: 5px;
  outline-color:#800080;
  background-color: #FFFFFF;
  border: 2px solid #800080;
  height:10rem;
  width: 40rem;
  overflow-wrap: break-word;
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}
.confession-box:focus{
  outline:none;
}
.container-index{
  background-color:#9c27b0;
  color:#FFFFFF;
}
.container-index a{
  text-decoration:underline;
}
.container-index a:hover{
color:#FFFFFF;
}
.container-last{
  background-color:#FFF8DC;
  color:#000000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.last-confession-card {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  word-wrap: break-word;
  animation: fadeIn 0.5s ease-in-out;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  list-style-type: none;
}

.last-confession-card:nth-child(1) {
  --card-bg-color: #9c27b0; 
  --card-text-color: #FFFFFF; 
}

.last-confession-card:nth-child(2) {
  --card-bg-color: #a25bc0; 
  --card-text-color: #F7F7F7;
}

.last-confession-card:nth-child(3) {
  --card-bg-color: #c68ae5; 
  --card-text-color: #000000; 
}
.last-confession-card h6{
  font-size: 1.4rem;
  font-weight: normal;
}
.last-confession-card p{
  font-size: 1rem;
  color:#e9e7e7;
}
.read-more-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.read-more-btn:hover {
  background-color: #3e8e41;
}
.button{
    font-size: large;
    height:50px;
    width:20rem;
    color:#FFFFFF;
    background:#9c57b0;
    border: none;
    cursor: pointer;
}
.button1{
    font-size: large;
    height:50px;
    width:20rem;
    color:#FFFFFF;
    background:#ff0000;
    border: none;
    cursor: pointer;
}
.button1:hover{
background:#9f0909;
}

.button:hover{
background:#5D3FD3;
}
#playsound {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#characterCount {
  font-size: 14px;
}

/* Feed*/
.feed-container {
  width: 100%;
  padding-right:15px;
  padding-left:15px;
  padding: 20px;
}
.feed-container ul{
  padding: 0;
  list-style-type: none;
}
.confession-card {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  word-wrap: break-word;
  animation: fadeIn 0.5s ease-in-out;
}
.confession-card:hover {
  background-color: #e0e0e0;
}
.feed-container h1{
  text-align: center;
  font-size: 4rem;
  margin: 5px;
}
.feed-ct{
  font-size: 10px;
}
.sb{
  text-align: center;
}
.search-box {
  width:100%;
  height: 3rem;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px #ccc;
}
.search-box:focus {
  outline: none;
}
.search-box::placeholder {
  color: #999;
}
.copy-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
}
.delete-button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #a71d2a;
}
.delete-button:focus{
  outline: none;
}
.ad-objectcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

/* Submission */
.submission-container {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submission-oc {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: white;
  background-color: #585554;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.submission-cb {
  background-color: #e0e0e0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
}


/** Delete **/
.delete-container {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #5b3b8c;
  border-radius: 5px;
  background-color: #3f3f51;
  max-width: 600px;
  text-align: center;
}
.delete-container h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.delete-container p{
  color:#FFFFFF;
}
.delete-container input{
  font-size: 20px;
  width: 50%;
  height: 35px;
}
.delete-container input:focus{
  outline:none;
}

/* Talent */
.talent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto; 
}
.talent-box {
  background-color: #9c27b0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(242, 145, 229, 0.1);
  margin: 20px;
  overflow: hidden;
  width: calc(25% - 40px);
  position: relative;
  text-align: center;
  padding: 40px 20px;
  transition: transform 0.3s ease;
}
.talent-box:hover {
  transform: translateY(-10px);
}
.talent-box h2 {
  font-size: clamp(1.5rem, 3vw, 1.9rem);
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.talent-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.talent-btn {
  background-color: #9c57b0;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.talent-btn:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7b5bb4;
}
.submit-talent-section {
  color:#FFFFFF;
  background-color: #9c27b0;
  padding: 40px 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
}
.submit-talent-section p {
  font-size: 20px;
  color: #ffffff;
}
.submit-talent-section .talent-btn {
  background-color: #9c57b0;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  padding: 15px 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.submit-talent-section .talent-btn:hover{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7b5bb4;
}


/* Talent-Poem*/
.poems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  color:#FFFFFF;
}
.poem {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
}
.title {
  color: #ffc40d;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.author {
  color: #ffc40d;
  font-size: 18px;
  margin-bottom: 20px;
}
.section {
  text-align:justify;
  margin-bottom: 20px;
}
.section-title {
  color: #ffc40d;
  font-size: 20px;
  margin-bottom: 10px;
}
.lines {
  font-size: 16px;
  white-space: pre-wrap;
}
.share-button {
  background-color: #ffc40d;
  color: #1c1c1c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.share-button:hover {
  background-color: #ffd633;
}
.separator {
  border-top: 1px solid #ffc40d;
  margin: 20px 0;
}
.poem h1 {
  text-align: center;
}

/* Talent-Music */
.talent-song-container {
  width: 90%;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.talent-song-container b{
  font-size: 1.5rem;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media Queries */    
@media (max-width: 768px) {
html{
    font-size:55%;
}
#characterCount {
  font-size: 12px;
}
#menu-btn {
  display: initial;
}
#menu-btn.fa-times {
  transform: rotate(180deg);
}
#logo {
    display:block;
    margin: 0 auto;
    text-align: center;
}
#navbar{
  display:block;
}
.header .navbar {
  position:absolute;
  top: 99%;
  left: 0;
  right: 0;
  background: #FFF8DC;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header .navbar a {
  display: block;
  font-size: 2.7rem;
  margin: 0;
  padding: 1.5rem 2rem;
}
.header .logo{
  font-size: 3rem;
}
.footer{
  font-size:1.9rem;
}
.footer h4{
  font-size:2.5rem;
}
.confession-card p{
  font-size: 2rem;
}
.confession-card .feed-ct{
  font-size: 1.5rem;
}
.search-box{
  height:4rem;
}
.submission-container h3{
  font-size: 2.2rem;
}
.submission-container p{
  font-size: 1.8rem;
}
.delete-container{
  width: 97%;
}
.delete-container p{
font-size:16px;
}
.talent-box {
  width: calc(50% - 40px);
}
.copy-overlay{
  font-size: 14px;
}
.last-confession-card h6{
  font-size: 2rem;
  font-weight: normal;
}
.last-confession-card p{
  font-size: 1.5rem;
  color:#e9e7e7;
}
} 

@media (max-width: 450px) {
html {
  font-size: 50%;
}
#playsound{
  bottom:60px;
}
#characterCount {
  font-size: 12px;
}
.index-cb{
  width: auto;
  height:1.5rem;
}
.container-index h1{
  font-size: 3.3rem;
}
.container-index label{
  font-size: 1.6rem;
}
.container-index p{
  font-size:1.5rem;
}
.confession-box{
  width:35rem;
  height:15rem;
}
.container{
  width: 95%;
  padding-right:11px;
  padding-left:11px;
}
.spaace{
  height:10vh;
}
.confession-card p{
  font-size: 2rem;
}
.confession-card .feed-ct{
  font-size: 12px;
}
.search-box{
  height: 4rem;
}
.submission-container{
  width: 90%;
}
.talent-box {
  width: 100%;
}
.talent-box h2{
  font-size: 3rem;
}
.submit-talent-section{
  width: 90%;
}
.submit-talent-section:hover {
  transform: translateY(-10px);
}
.submit-talent-section h2{
  font-size: 3rem;
}
.talent-song-container b{
  font-size: 2.5rem;
}
.talent-song-container p{
  font-size: 1.5rem;
}
.lines{
  white-space:normal;
}
.last-confession-card h6{
  font-size: 2rem;
  font-weight: normal;
}
.last-confession-card p{
  font-size: 12px;
  color:#e9e7e7;
}
}
