* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

:root {
    --footer-bg-color: #FFF8DC;
    --footer-hover-color: #000000;
    --footer-padding: 1rem;
    --footer-height: 60px;
    --glow-color: hsl(0, 0%, 0%);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('https://i.pinimg.com/originals/f9/d7/00/f9d7009068472c24520eb1ac19d15efe.gif');
    background-size: 100vw auto;
    background-position: center;
    object-fit: cover;

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


/* Navigation bar */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1.4rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header .logo {
    font-size: 1.9rem;
    padding-left: .5rem;
    text-decoration: none;
    color: #000000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  
  .header .navbar a:hover {
    color: #4d026b;
  }
  
  .header .navbar a:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
    background: #6c0694; /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
  }
  
  .header .navbar a:hover:before {
    scale: 1;
    translate: 0;
    transition: .3s;
  }
  
  .header .navbar a:has(~ a:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
  }
  
  .header .navbar a:hover ~ a:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
  }

#menu-btn {
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.nav-item:hover {
    color: #000000;
}


/* Footer */
.footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    color: white;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(63, 63, 81, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.footer a:hover {
    color: #000000;
    text-decoration: none;
}


.spaace {
    height: 4vh;
}

.spaaace {
    height: 15vh;
}



/* Index */

.hover-2 {
    --c: #4f0458; /* the color */
    --s: .15em;
    
    line-height:1.1em;
    padding-bottom: calc(2.1*var(--s));
    background: 
      conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
        left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
      conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
        left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
    transition: .5s;
  }
  .hover-2:hover {
    --_p: 100%;
    color: var(--c);
  }
  
  .hover-2 img {
    margin-right: 10px;
  }

  .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.1em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }


.confession-box {
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    outline-color: #800080;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    height: 10rem;
    width: 40rem;
    overflow-wrap: break-word;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 6px 20px rgba(0, 0, 0, 0.05);
    font-size: 18px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    color: #FFFFFF;
}

.confession-box::placeholder {
    color: #CCCCCC;
}

.confession-box:focus {
    outline: none;
}

.container-index {
    background-color: rgba(156, 39, 176, 0.15);
    color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container-index a {
    text-decoration: underline;
}

.container-index a:hover {
    color: #FFFFFF;
}

.container-last {
    background-color: rgba(156, 39, 176, 0.15);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.last-confession-card {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(224, 224, 224, 0.3);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    word-wrap: break-word;
    animation: fadeIn 0.5s ease-in-out;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.last-confession-card h6 {
    font-size: 1.4rem;
    font-weight: normal;
}

.last-confession-card p {
    font-size: 1rem;
    color: #e9e7e7;
}

.read-more-btn {
    background-color: rgba(76, 175, 80, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.read-more-btn:hover {
    background-color: rgba(62, 142, 65, 0.7);
}

.button {
    font-size: large;
    height: 50px;
    width: 20rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button:hover {
    background: rgba(93, 63, 211, 0.7);
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }

  .button1 {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #610f5d;
}

.button1, .button1 span {
	transition: 200ms;
}

.button1 .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.button1 .icon {
	position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button1 svg {
	width: 15px;
	fill: #eee;
}

.button1:hover {
	background: #53074d;
}

.button1:hover .text {
	color: transparent;
}

.button1:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.button1:focus {
	outline: none;
}

#playsound {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: white;
    background-color: rgba(128, 0, 128, 0.7);
    border-radius: 10px;
}

/* Feed*/
.feed-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding: 20px;
}

.feed-container ul {
    padding: 0;
    list-style-type: none;
}

.confession-card {
    border: none;
    border-radius: 10px;
    background-color: rgba(63, 63, 81, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.3s;
    word-wrap: break-word;
    animation: fadeIn 0.5s ease-in-out;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.short-confession {
  max-width: 50%;
  overflow: hidden;
  display: inline-block;
}

.confession-card p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.feed-container h1 {
    text-align: center;
    font-size: 4rem;
    margin: 5px;
    color: white;
}

.feed-ct {
    font-size: 10px;
}

.sb {
    text-align: center;
}

.search-box {
    width: 100%;
    margin: 10px auto;
    height: 3rem;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(63, 63, 81, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.search-box:focus {
    outline: none;
}

.search-box::placeholder {
    color: #000000;
}

.copy-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #a71d2a;
}

.delete-button:focus {
    outline: none;
}

.ad-objectcode {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.submission-container {
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(63, 63, 81, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    text-align: center;
}

.submission-oc {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: white;
    background-color: rgba(88, 85, 84, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.submission-cb {
    background-color: rgba(224, 224, 224, 0.5);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 14px;
}


/** Delete **/
.delete-container {
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(63, 63, 81, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.delete-container p {
    color: #FFFFFF;
}

.delete-container input {
    font-size: 24px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.delete-container input:focus {
    outline: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
}


/* Media Queries */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    #characterCount {
        font-size: 12px;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    #logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    #navbar {
        display: block;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #FFF8DC;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.7rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .header .logo {
        font-size: 3rem;
    }

    .footer {
        font-size: 1.9rem;
    }

    .footer h4 {
        font-size: 2.5rem;
    }

    .confession-card p {
        font-size: 2rem;
    }

    .confession-card .feed-ct {
        font-size: 1.5rem;
    }

    .search-box {
        height: 4rem;
    }


    .submission-container h3 {
        font-size: 2.2rem;
    }

    .submission-container p {
        font-size: 1.8rem;
    }

    .delete-container {
        width: 97%;
    }

    .delete-container p {
        font-size: 16px;
    }

    .talent-box {
        width: calc(50% - 40px);
    }

    .copy-overlay {
        font-size: 14px;
    }

    .last-confession-card h6 {
        font-size: 2rem;
        font-weight: normal;
    }

    .last-confession-card p {
        font-size: 1.5rem;
        color: #e9e7e7;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #playsound {
        bottom: 60px;
    }

    #characterCount {
        font-size: 12px;
    }

    .index-cb {
        width: auto;
        height: 1.5rem;
    }

    .container-index h1 {
        font-size: 3.3rem;
    }

    .container-index label {
        font-size: 1.6rem;
    }

    .container-index p {
        font-size: 1.5rem;
    }

    .confession-box {
        width: 35rem;
        height: 15rem;
    }

    .container {
        width: 95%;
        padding-right: 11px;
        padding-left: 11px;
    }

    .spaace {
        height: 10vh;
    }

    .confession-card p {
        font-size: 2rem;
    }

    .confession-card .feed-ct {
        font-size: 12px;
    }

    .search-box {
        height: 4rem;
    }

    .lines {
        white-space: normal;
    }

    .last-confession-card h6 {
        font-size: 2rem;
        font-weight: normal;
    }

    .last-confession-card p {
        font-size: 12px;
        color: #e9e7e7;
    }
}

.comment-section {
    padding: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment-bubble {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.comment-bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-width: 10px 10px 0 0;
  border-style: solid;
  border-color: #cacaca transparent transparent transparent;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

input[type="text"] {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff, 0px 0px 10px #cacaca;
}

input[type="text"]::placeholder {
  color: #666;
}

.text {
    margin-bottom: 10px;
}

.comment-bubble::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #f2f3f5 transparent transparent transparent;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.text {
    margin-bottom: 10px;
}


.glassmorphic-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
}

.glassmorphic-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.8;
  padding: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.glassmorphic-link {
  text-decoration: none;
  color: #150036;
  transition: color 0.2s ease;
}

.comment-section-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.glassmorphic-link:hover {
  color: #fff;
}

.highlight {
  color: #66d9ef;
  font-weight: bold;
}